@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200;400;600;800&display=swap");

body {
  color: #212529;
  background-color: #efeff4;
  font-family: "MTN Irancell";
}

.vazir {
  font-family: "vazirmatn";
}

@font-face {
  font-family: "MTN Irancell";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/MTNIrancell-ExtraLight.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MTN Irancell";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/MTNIrancell-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MTN Irancell";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MTNIrancell-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MTN Irancell";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/MTNIrancell-DemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MTN Irancell";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/MTNIrancell-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MTN Irancell";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/MTNIrancell-Black.ttf") format("truetype");
  font-display: swap;
}
